#worktimepunch-topbar {
	align-items: center;
	display: inline-flex;
	height: 44px;
	margin: 0 4px;
}

.worktimepunch-topbar-button {
	align-items: center;
	background-color: transparent;
	border: 0;
	border-radius: 50%;
	cursor: pointer;
	display: inline-flex;
	height: 44px;
	justify-content: center;
	opacity: .86;
	padding: 0;
	width: 44px;
}

.worktimepunch-topbar-button:hover,
.worktimepunch-topbar-button:focus {
	background-color: var(--color-background-hover);
	opacity: 1;
	outline: none;
}

.worktimepunch-topbar-button:disabled {
	cursor: default;
	opacity: .28;
}

.worktimepunch-topbar-button:disabled:hover,
.worktimepunch-topbar-button:disabled:focus {
	background-color: transparent;
}

.worktimepunch-topbar-button img {
	height: 25px;
	width: 25px;
}
